# Ignore Android Studio settings
.idea/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Ignore project-specific files
*.iml
.DS_Store
captures/

# Ignore Gradle-related files
.gradle/
gradlew
gradlew.bat
gradle/

# Ignore build outputs
/build/
*/build/
.externalNativeBuild/
.cxx/

# Ignore local configuration
local.properties